html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-image: url("./img/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.appWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(120, 159, 194);
  box-shadow: 1px 5px 25px 0px black;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 60px;
  width: 400px;
  height: 530px;
}

.brand {
  background-color: #5f5f90;
  color: azure;
  padding: 5px 15px;
  border: 1px solid black;
  box-shadow: 0px 2px 3px 1px black
}

.calculator-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  background-color: #46ae46;
  height: 80px;
  width: 350px;
}

.calculator-operation {
  font-size: 20px;
  text-align: end;
  margin-right: 15px;
}

.calculator-result {
  text-align: end;
  font-size: 25px;
  margin-right: 15px;
}

.keyboard-container {
  display: flex;
  margin-top: 25px;
  height: 300px;
  width: 340px;
}

.keyboard-side-a, .keyboard-side-b {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}

.keyboard-side-a > button , .keyboard-side-b > button, button[id="equal"]  {
  font-size: 24px;
  border-radius: 5px;
  width: 80px;
  height: 70px;
  margin: 2px 2px;
  cursor: pointer;
}

.keyboard-side-a > button:hover , .keyboard-side-b > button:hover {
  background-color: #b7e6e8;
}

button[id] {
  background-color: rgb(206, 51, 51);
}

button[id]:hover {
  background-color: #df5459;
}

button[id="equal"] {
  height: 50px;
  width: 100px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.349);
  padding: 15px 0 15px 0;
}